@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overflow-x: hidden;
}

:root {
  --base: #ffffff;
  --text: #000000;

  /* Base colors */
  --background: #f5f7fa;
  --foreground: #718ebf;

  /* UI Elements */
  --input: #f5f7fa;
  --placeholder: #8ba3cb;
  --button: #232323;
  --border: #dfeaf2;

  /* Brand colors */
  --primary: #343c6a;
  --primary-blue: #396aff;

  /* Navigation */
  --sidebar-text: #b1b1b1;
  --sidebar-active: #232323;
}

.dark {
  --text: #ffffff;
  --base: #111827;
}

html,
body {
  background-color: var(--background);
  color: var(--foreground);

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
